body {
    background: grey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    margin: 20px;
  }
.title {
    position: absolute;
    top: 10px;
    height: 75px;
    width: 90%;
    border-color: black;
}

#map { 
    position: absolute;
    top: 70px;
    width: 90%;
    height: 550px; 
}

#graph {
    position: absolute;
    top: 610px;
    height: 90%;
}

