body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    margin: 20px;
  }
.title {
    position: absolute;
    top: 10px;
    height: 75px;
    width: 90%;
    border-color: black;
}

#map { 
    position: absolute;
    top: 100px;
    width: 90%;
    height: 550px; 
}

.info { 
    background: grey;
    position: relative;
    width:fit-content;
    height:fit-content;
}